.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

select,
input,
button {
  font-size: 1rem;
  padding: 2px;
  text-align: center;
  margin-right: 4px;
  margin: 0.5rem auto;
  width: 100%;
}

select {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 39px;
  min-width: 410px;
}

button {
  min-width: 410px;
  height: 40px;
}

.end {
  margin-top: 2rem;
}

.default-color,
.red,
.orange,
.blue,
.purple {
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 25px;
  min-width: 20rem;
}
.default-color {
  border-color: gray;
}

.red {
  border-color: red;
}

.orange {
  border-color: orange;
}

.blue {
  border-color: blue;
}

.purple {
  border-color: purple;
}

.listItemContainer {
  margin: 2rem;
}

.listItem {
  /* border-style: solid; */
  margin: 0 auto;
}

.listItemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listItemButton {
  width: 80px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
